<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
</head>
<body>
<p>Hello,Admin!</p>
<table>
    <tr>
        <th>id</th>
        <th>task</th>
        <th>number task</th>
        <th>owner id</th>
    </tr>
    <tr th:each="tasks : ${task}">
        <td th:text="${tasks.getId()}"></td>
        <td th:text="${tasks.getTask()}"></td>
        <td th:text="${tasks.getNumberTask()}"></td>
        <td th:text="${tasks.getOwnerId()}"></td>
    </tr>
</table>
</body>
</html>