<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My To Do List</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js" async></script>
</head>
<body>
<h2 th:text="${empty}"></h2>
<div id="myDIV" class="header">
    <h2>My To Do List</h2>
    <input type="text" id="myInput" name="task" placeholder="Title...">
    <span onclick="newElement();save()" class="addBtn">Add</span>
</div>

<ul id="myUL">
        <span th:each="task : ${list}" id="list" name="LIST" th:switch="${task.getState().toString()}">
            <li th:case="ACTIVE" th:text="${task.getTask()}" ></li>
            <li th:case="DONE" th:text="${task.getTask()} " th:class="checked"></li>
        </span>
</ul>
<span onclick="collect()" class="addBtn">Save List </span>
</body>
</html>